<app-header />
<!-- Etiqueta personalizada del componente 'HeaderComponent' -->

<main>
  <ul id="users">
    <li>
      <app-user [user]="users[0]" (select)="onSelectuser($event)" />
      <!-- Aquí se usa el 'event binding' para escuchar el evento personalizado 'select' y manejarlo como
        cualquier evento incorporado cuyo valor será el método 'onSelectUser()' pasando entre sus parentesis
        la variable '$event' que obtiene el valor emitido por el 'user.component.ts' -->

      <!-- Etiqueta personalizada auto-cerrada del componente 'UserComponent' -->
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectuser($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectuser($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectuser($event)" />
    </li>
  </ul>

  <app-tasks [name]="selectedUser ? selectedUser.name : ''" />
  <!-- El signo de interrogación '?' se usa en la sintaxis de JavaScript para decir que si 'selectedUser' está
   definido, podrá acceder a 'name', si no lo está simplemente utilice una cadena vacía como valor de reserva -->
</main>
