<div>
  <button (click)="onSelectUser()">
    <!-- Los 'event listeners' se usan para ecuchar las entradas del usuario para poder usar la interfaz del usuario
     en función de ciertos tipos de entradas, en este caso se quiere ecuchar el evento click del botón de
     arriba para lo cual se encierra entre parentesis seguido del código que se quiere ejecutar cuando se dé
     click al botón.

     El comando 'CTRL + SPACE' puede abrir sugerengias sobre los 'event listeners' que se quieran utilizar -->
    <img [src]="imagePath()" [alt]="selectedUser().name" />
    <!-- La vinculación por propiedad se utiliza para configurar un elemento a través de sus atributos, para ello
     se encierra el nombre del atributo a vincular con corchetes, seguido de una ruta dinámica indicando la carpeta
     'assets/users/' seguido de la propiedad de la clase del componente.ts que se quiere utilizar -->
    <span>{{ selectedUser().name }}</span>
    <!-- La interpolación de cadena se usa para vincular una propiedad de la clase del componente.ts, en este
     caso se está vinculando la propiedad 'selectedUser', esta vinculación utiliza dos llaves de apertura y
     cierre para hacer referencia a cualquier propiedad de la clase del componente.ts

     La notación de punto se usa seguido de la propiedad para traer un valor especifico en caso de que dicha
     propiedad sea un objeto, en este caso trayendo el valor de 'name' y mostrándolo en la etiqueta 'span' -->
  </button>
</div>
